<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.weefle.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@drawable/business"
        android:label="@string/app_name"
        android:roundIcon="@drawable/business"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HomeActivity"
            android:screenOrientation="locked" />
        <activity android:name=".TransactionActivity"
            android:screenOrientation="locked" />
        <activity android:name=".RegisterActivity"
            android:screenOrientation="locked" />
        <activity android:name=".MainActivity"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>